@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


body{
    text-align: center;
}

.contents{
    font-size: 80px;
}

/* 1. Font-family: 18 Font-family-values */

#web_development_content{
    font-family: sans-serif;
}

/*
2. Google Fonts
   2.1 <link>
   2.2 @import
*/

#core_java_content{
    font-family: "Fontdiner Swanky";
}

#core_python_content{
    font-family: "DynaPuff";
}

#merry_christmas_content{
    font-family: "Mountains Of Christmas";
}

#google_content{
    font-family: Arimo;
}

#machine_learning_content{
    font-family: SpecialElite;
}