*{
    margin: 0;
    padding: 0;
    font-family: ProductSans;
}
@font-face {
    font-family: ProductSans;
    src: url(../../assets/fonts/ProductSansRegular.ttf);
}
#heading_galleryimage_container{
    color:chocolate;
    text-align: center;
    position: relative;
    font-size: 90px;
    top: 70px;
}
#Image_container{
    height: 400px;
    width: 600px;
    position: absolute;
    bottom:60px;
    left: 470px;
    border-radius: 80px;
    background-color: black;
    background-size: 100% 100%;
    cursor: pointer;
}
#Image_container:hover{
    animation: slide 5000ms  ease-in-out infinite;
}
@keyframes slide {
    0%,15%{
        background-image: url(../../assets/images/green_forest.jpg);
    }    
    25%,35%{
        background-image: url(../../assets/images/sky_mountains.jpg);
    }
    45%,55%{
        background-image: url(../../assets/images/sunrise.jpg);
    }
    65%,75%{
        background-image: url(../../assets/images/Glaciers.jpg);
    }
    80%,85%{
        background-image: url(../../assets/images/Glaciers.jpg);
    }
    90%,95%{
        background-image: url(../../assets/images/hillmountains.jpg);
    }
    96%,100%{
        background-image: url(../../assets/images/tiger.jpg);
    }
}