@font-face{
    font-family: ProductSans;
    src: url(../../assets/fonts/Google_sans_Flex.ttf);
}
#wow_table{
    border-collapse: collapse;
}
.wow_table_body_cells{
    font-size: 150px;
    text-align: center;
    font-weight: bold;
    font-family: ProductSans;
    border: 15px solid navy;
}
.empty_cells,#o_cell{
    border: none;
}
#w_one_cell{
    border-bottom: none;
}
#w_two_cell{
    border-right: none;
}
#w_three_cell{
    border-left: none;
}
#w_four_cell{
    border-top: none;
}